In [2]:
#Bringing in 311 compalint data
import pandas as pd
import numpy as np

complaints = pd.read_csv('Elevator_Complaints.csv')
complaints.shape

/var/folders/xs/c_4kjb4j5q9bjbh4l5y3p9g40000gn/T/ipykernel_93617/54663176.py:5: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints = pd.read_csv('Elevator_Complaints.csv')

(69751, 38)

In [4]:
complaints.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,37998090,12/20/2017 10:26:48 AM,01/08/2018 12:00:00 AM,DOB,Department of Buildings,Elevator,Elevator - Defective/Not Working,NaN,11372.0,34-57 73 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.751246,-73.893098,POINT (-73.89309829767902 40.751246265177535)
1,37999153,12/20/2017 10:26:22 AM,12/20/2017 10:26:22 AM,DOB,Department of Buildings,Elevator,Elevator - Defective/Not Working,NaN,11214.0,2036 CROPSEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.599543,-74.001873,POINT (-74.00187253346519 40.59954279505366)
2,37974723,12/19/2017 11:40:37 AM,12/20/2017 12:00:00 AM,DOB,Department of Buildings,Elevator,Elevator - Defective/Not Working,NaN,11214.0,2036 CROPSEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.599543,-74.001873,POINT (-74.00187253346519 40.59954279505366)
3,37973960,12/19/2017 11:33:30 AM,12/19/2017 11:33:30 AM,DOB,Department of Buildings,Elevator,Elevator - Defective/Not Working,NaN,10025.0,915 WEST END AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.800768,-73.969198,POINT (-73.96919761842804 40.800768386347244)
4,37972507,12/19/2017 11:31:34 AM,12/22/2017 12:00:00 AM,DOB,Department of Buildings,Elevator,Elevator - Defective/Not Working,NaN,10075.0,511 EAST 80 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.771848,-73.949383,POINT (-73.94938298933636 40.771848368467545)

In [5]:
#Read in the MTA station data
mta_data = pd.read_csv('/Users/zoeslemmons/Desktop/MTA-elevators/systems_data/MTA_Subway_Stations.csv')
mta_data.head()

,GTFS Stop ID,Station ID,Complex ID,Division,Line,Stop Name,Borough,CBD,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Northbound,ADA Southbound,ADA Notes,Georeference
0,127,317,611,IRT,Broadway - 7Av,Times Sq-42 St,M,True,1 2 3,Subway,40.755290,-73.987495,Uptown,Downtown,1,1,1,NaN,POINT (-73.987495 40.75529)
1,S17,515,515,SIR,Staten Island,Annadale,SI,False,SIR,Open Cut,40.540460,-74.178217,Ferry,South Shore,0,0,0,NaN,POINT (-74.178217 40.54046)
2,S01,139,627,BMT,Franklin Shuttle,Franklin Av,Bk,False,S,Elevated,40.680596,-73.955827,Last Stop,Prospect Park,1,1,1,NaN,POINT (-73.955827 40.680596)
3,254,349,349,IRT,Eastern Pky,Junius St,Bk,False,3,Elevated,40.663515,-73.902447,Manhattan,New Lots,0,0,0,NaN,POINT (-73.902447 40.663515)
4,M01,108,108,BMT,Myrtle Av,Middle Village-Metropolitan Av,Q,False,M,Elevated,40.711396,-73.889601,Inbound,Last Stop,1,1,1,NaN,POINT (-73.889601 40.711396)

In [7]:
station_complaints = complaints[complaints['Location'].isin(mta_data['Georeference'])]
station_complaints

Empty DataFrame
Columns: [Unique Key, Created Date, Closed Date, Agency, Agency Name, Complaint Type, Descriptor, Location Type, Incident Zip, Incident Address, Street Name, Cross Street 1, Cross Street 2, Intersection Street 1, Intersection Street 2, Address Type, City, Landmark, Facility Type, Status, Due Date, Resolution Action Updated Date, Community Board, Borough, X Coordinate (State Plane), Y Coordinate (State Plane), Park Facility Name, Park Borough, Vehicle Type, Taxi Company Borough, Taxi Pick Up Location, Bridge Highway Name, Bridge Highway Direction, Road Ramp, Bridge Highway Segment, Latitude, Longitude, Location]
Index: []

[0 rows x 38 columns]

In [10]:
#Ok, that shows there are no station complaints in the 311 data. Let's check that by merging them

merged = complaints.merge(mta_data, left_on='Location', right_on='Georeference')
merged

Empty DataFrame
Columns: [Unique Key, Created Date, Closed Date, Agency, Agency Name, Complaint Type, Descriptor, Location Type, Incident Zip, Incident Address, Street Name, Cross Street 1, Cross Street 2, Intersection Street 1, Intersection Street 2, Address Type, City, Landmark, Facility Type, Status, Due Date, Resolution Action Updated Date, Community Board, Borough_x, X Coordinate (State Plane), Y Coordinate (State Plane), Park Facility Name, Park Borough, Vehicle Type, Taxi Company Borough, Taxi Pick Up Location, Bridge Highway Name, Bridge Highway Direction, Road Ramp, Bridge Highway Segment, Latitude, Longitude, Location, GTFS Stop ID, Station ID, Complex ID, Division, Line, Stop Name, Borough_y, CBD, Daytime Routes, Structure, GTFS Latitude, GTFS Longitude, North Direction Label, South Direction Label, ADA, ADA Northbound, ADA Southbound, ADA Notes, Georeference]
Index: []

[0 rows x 57 columns]

In [11]:
#Ok, I guess there are no station complaints in the 311 elevator compalint data