In [1]:
import os
import pandas as pd

In [32]:
import pandas as pd
import os

# Set the path to your folder
folder_path = '/Users/zoeslemmons/Desktop/MTA-elevators/outage_data'
file_path = '/Users/zoeslemmons/Desktop/MTA-elevators/outage_data/*.csv'  
filename = os.path.basename(file_path)

# Create an empty list to hold DataFrames
dataframes = []

# Loop through each file in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path)
        df['timestamp'] = filename
        dataframes.append(df)

# Concatenate all DataFrames in the list
combined_df = pd.concat(dataframes, ignore_index=True)

# Display the first few rows
combined_df.head()

,station,borough,trainno,equipmentno,equipmenttype,serving,ADA,isactive,nonNYCT,shortdescription,linesservedbyelevator,elevatorsgtfsstopid,elevatormrn,stationcomplexid,nextadanorth,nextadasouth,redundant,busconnections,alternativeroute,timestamp
0,1 Av,NaN,L,EL293,EL,E 14 St and Avenue A (SW corner) to Canarsie-b...,Y,Y,N,Street to Brooklyn-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a westbound M14...,outages_2025-07-29 06:24:35.375375.csv
1,1 Av,NaN,L,EL292,EL,E 14 St and Avenue A (NW corner) to 8 Av-bound...,Y,Y,N,Street to 8 Av-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a West Side-bou...,outages_2025-07-29 06:24:35.375375.csv
2,125 St,NaN,1,ES103,ES,125 St & Broadway (SE corner) to mezzanine\n,N,Y,N,Street to mezzanine,1,116,306,306,NaN,NaN,0,NaN,NaN,outages_2025-07-29 06:24:35.375375.csv
3,125 St,NaN,1,ES101,ES,mezzanine to 125 St & Broadway (SW corner),N,Y,N,Mezzanine to street,1,116,306,306,NaN,NaN,0,NaN,NaN,outages_2025-07-29 06:24:35.375375.csv
4,125 St,NaN,1,ES102,ES,125 St & Broadway (SW corner) to mezzanine,N,Y,N,Street to mezzanine,1,116,306,306,NaN,NaN,0,NaN,NaN,outages_2025-07-29 06:24:35.375375.csv

In [33]:
combined_df.shape

(61290, 20)

In [38]:
combined_df['timestamp'] = combined_df['timestamp'].str.replace('outages_', '')
combined_df.head(2)

,station,borough,trainno,equipmentno,equipmenttype,serving,ADA,isactive,nonNYCT,shortdescription,linesservedbyelevator,elevatorsgtfsstopid,elevatormrn,stationcomplexid,nextadanorth,nextadasouth,redundant,busconnections,alternativeroute,timestamp
0,1 Av,NaN,L,EL293,EL,E 14 St and Avenue A (SW corner) to Canarsie-b...,Y,Y,N,Street to Brooklyn-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a westbound M14...,2025-07-29 06:24:35.375375.csv
1,1 Av,NaN,L,EL292,EL,E 14 St and Avenue A (NW corner) to 8 Av-bound...,Y,Y,N,Street to 8 Av-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a West Side-bou...,2025-07-29 06:24:35.375375.csv

In [39]:
combined_df['timestamp'] = combined_df['timestamp'].str.replace('.csv', '')
combined_df.head(2)

,station,borough,trainno,equipmentno,equipmenttype,serving,ADA,isactive,nonNYCT,shortdescription,linesservedbyelevator,elevatorsgtfsstopid,elevatormrn,stationcomplexid,nextadanorth,nextadasouth,redundant,busconnections,alternativeroute,timestamp
0,1 Av,NaN,L,EL293,EL,E 14 St and Avenue A (SW corner) to Canarsie-b...,Y,Y,N,Street to Brooklyn-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a westbound M14...,2025-07-29 06:24:35.375375
1,1 Av,NaN,L,EL292,EL,E 14 St and Avenue A (NW corner) to 8 Av-bound...,Y,Y,N,Street to 8 Av-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a West Side-bou...,2025-07-29 06:24:35.375375

In [42]:
combined_df['timestamp']= pd.to_datetime(combined_df['timestamp'])

In [43]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61290 entries, 0 to 61289
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   station                61290 non-null  object
 1   borough                0 non-null      float64
 2   trainno                61110 non-null  object
 3   equipmentno            61290 non-null  object
 4   equipmenttype          61290 non-null  object
 5   serving                61290 non-null  object
 6   ADA                    61290 non-null  object
 7   isactive               61290 non-null  object
 8   nonNYCT                61290 non-null  object
 9   shortdescription       60750 non-null  object
 10  linesservedbyelevator  61290 non-null  object
 11  elevatorsgtfsstopid    61290 non-null  object
 12  elevatormrn            61290 non-null  object
 13  stationcomplexid       61290 non-null  int64
 14  nextadanorth           29790 non-null  object
 15  nextadasouth           29970 non-null  object
 16  redundant              61290 non-null  int64
 17  busconnections         54270 non-null  object
 18  alternativeroute       36090 non-null  object
 19  timestamp              61290 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(16)
memory usage: 9.4+ MB

In [44]:
#just making sure i only have elevators and not escalators
combined_df['equipmenttype'].value_counts()

equipmenttype
EL    36270
ES    25020
Name: count, dtype: int64

In [48]:
#ahh, I do have escalators, so let's get rid of those
el_df = combined_df[combined_df['equipmenttype'] == 'EL']
el_df.shape

(36270, 20)

In [51]:
el_out = el_df[el_df['isactive']=='N']
el_out.shape

(2520, 20)

In [53]:
el_out['equipmentno'].value_counts()

equipmentno
EL144    90
EL223    90
EL229    90
EL428    90
EL429    90
EL430    90
EL186    90
EL187    90
EL188    90
EL370    90
EL371    90
EL372    90
EL702    90
EL324    90
EL304    90
EL305    90
EL224    90
EL420    90
EL423    90
EL225    90
EL226    90
EL131    90
EL132    90
EL133    90
EL134    90
EL135    90
EL220    90
EL333    90
Name: count, dtype: int64

In [68]:
el_df[el_df['equipmentno']=='EL132']['isactive'].value_counts()

isactive
N    90
Name: count, dtype: int64

In [72]:
test_df = pd.read_csv('/Users/zoeslemmons/Desktop/MTA-elevators/outage_data/outages_2025-08-04 21:11:48.171466.csv')

In [77]:
test_df_el = test_df[test_df['equipmenttype']=='EL']
test_df_el.shape

(72, 12)

In [80]:
test_df_el.head()

,station,borough,trainno,equipment,equipmenttype,serving,ADA,outagedate,estimatedreturntoservice,reason,isupcomingoutage,ismaintenanceoutage
8,42St/Port Authority-Bus Terminal,NaN,A/C/E/N/Q/R/W/1/2/3/7/S,EL290X,EL,intermediate landing to mezzanine for A/C/E se...,Y,10/28/2024 06:26:00 AM,12/31/2025 10:00:00 PM,Repair,N,N
9,161 St-Yankee Stadium,NaN,B/D/4,EL131,EL,161 St & River Ave (NE corner) to mezzanine to...,Y,11/04/2024 08:25:00 AM,01/01/2026 11:59:00 PM,Capital Replacement,N,N
10,161 St-Yankee Stadium,NaN,B/D/4,EL134,EL,mezzanine to Manhattan-bound B/D platform,Y,11/06/2024 08:08:00 AM,01/01/2026 11:59:00 PM,Capital Replacement,N,N
11,161 St-Yankee Stadium,NaN,B/D/4,EL135,EL,mezzanine to B/D platform for Bedford Pk Blvd ...,Y,11/06/2024 08:40:00 AM,01/01/2026 11:59:00 PM,Capital Replacement,N,N
12,161 St-Yankee Stadium,NaN,B/D/4,EL133,EL,mezzanine to Manhattan-bound 4 platform,Y,11/06/2024 09:00:00 AM,12/31/2025 11:59:00 PM,Capital Replacement,N,N

In [82]:
#let's make the dates into datetimes
test_df_el['outagedate']=pd.to_datetime(test_df_el['outagedate'])
test_df_el['estimatedreturntoservice']=pd.to_datetime(test_df_el['estimatedreturntoservice'])

/var/folders/xs/c_4kjb4j5q9bjbh4l5y3p9g40000gn/T/ipykernel_9125/2773415267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df_el['outagedate']=pd.to_datetime(test_df_el['outagedate'])
/var/folders/xs/c_4kjb4j5q9bjbh4l5y3p9g40000gn/T/ipykernel_9125/2773415267.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  test_df_el['estimatedreturntoservice']=pd.to_datetime(test_df_el['estimatedreturntoservice'])
/var/folders/xs/c_4kjb4j5q9bjbh4l5y3p9g40000gn/T/ipykernel_9125/2773415267.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df_el['estimatedreturntoservice']=pd.to_datetime(test_df_el['estimatedreturntoservice'])

In [83]:
test_df_el.head()

,station,borough,trainno,equipment,equipmenttype,serving,ADA,outagedate,estimatedreturntoservice,reason,isupcomingoutage,ismaintenanceoutage
8,42St/Port Authority-Bus Terminal,NaN,A/C/E/N/Q/R/W/1/2/3/7/S,EL290X,EL,intermediate landing to mezzanine for A/C/E se...,Y,2024-10-28 06:26:00,2025-12-31 22:00:00,Repair,N,N
9,161 St-Yankee Stadium,NaN,B/D/4,EL131,EL,161 St & River Ave (NE corner) to mezzanine to...,Y,2024-11-04 08:25:00,2026-01-01 23:59:00,Capital Replacement,N,N
10,161 St-Yankee Stadium,NaN,B/D/4,EL134,EL,mezzanine to Manhattan-bound B/D platform,Y,2024-11-06 08:08:00,2026-01-01 23:59:00,Capital Replacement,N,N
11,161 St-Yankee Stadium,NaN,B/D/4,EL135,EL,mezzanine to B/D platform for Bedford Pk Blvd ...,Y,2024-11-06 08:40:00,2026-01-01 23:59:00,Capital Replacement,N,N
12,161 St-Yankee Stadium,NaN,B/D/4,EL133,EL,mezzanine to Manhattan-bound 4 platform,Y,2024-11-06 09:00:00,2025-12-31 23:59:00,Capital Replacement,N,N

In [84]:
test_df_el['reason'].value_counts()

reason
Capital Replacement                32
Maintenance                        28
Repair                              5
Planned Work                        3
Station is Under Rehabilitation     3
Warranty Repair                     1
Name: count, dtype: int64

In [85]:
test_df_el[test_df_el['reason']=="Repair"]

,station,borough,trainno,equipment,equipmenttype,serving,ADA,outagedate,estimatedreturntoservice,reason,isupcomingoutage,ismaintenanceoutage
8,42St/Port Authority-Bus Terminal,NaN,A/C/E/N/Q/R/W/1/2/3/7/S,EL290X,EL,intermediate landing to mezzanine for A/C/E se...,Y,2024-10-28 06:26:00,2025-12-31 22:00:00,Repair,N,N
53,42 St-Bryant Pk,NaN,B/D/F/M/7,EL287X,EL,42 St & 6th Ave (NW corner) to mezzanine of B/...,N,2025-07-11 16:03:00,2025-08-06 17:00:00,Repair,N,N
55,World Trade Center,NaN,A/C/E/R/W/2/3,EL23X,EL,Church St to E line with access to downtown R/...,Y,2025-07-22 16:18:00,2025-08-06 17:00:00,Repair,N,N
56,Cortlandt St,NaN,A/C/E/R/W/2/3,EL17X,EL,"Oculus main level to Fulton Center level, balc...",Y,2025-07-27 19:15:00,2025-08-06 20:00:00,Repair,N,N
65,Queensboro Plaza,NaN,N/W/7,EL791X,EL,Queens Plaza North between Crescent St and 27 ...,Y,2025-08-04 13:52:00,2025-08-06 14:00:00,Repair,N,N

8      intermediate landing to mezzanine for A/C/E se...
9      161 St & River Ave (NE corner) to mezzanine to...
10             mezzanine to Manhattan-bound B/D platform
11     mezzanine to B/D platform for Bedford Pk Blvd ...
12               mezzanine to Manhattan-bound 4 platform
                             ...
99     8th Ave & 14 St (NW corner) to mezzanine for A...
100    4th Ave and Pacific St (NE corner) to mezzanin...
101                 mezzanine to uptown N/Q/R/W platform
102    4th Ave & 14 St (NE corner) to mezzanine for L...
103    mezzanine to L platform for service in both di...
Name: serving, Length: 72, dtype: object