In [1]:
import os
import pandas as pd

In [32]:
import pandas as pd
import os

# Set the path to your folder
folder_path = '/Users/zoeslemmons/Desktop/MTA-elevators/outage_data'
file_path = '/Users/zoeslemmons/Desktop/MTA-elevators/outage_data/*.csv'  
filename = os.path.basename(file_path)

# Create an empty list to hold DataFrames
dataframes = []

# Loop through each file in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv'):
        file_path = os.path.join(folder_path, filename)
        df = pd.read_csv(file_path)
        df['timestamp'] = filename
        dataframes.append(df)

# Concatenate all DataFrames in the list
combined_df = pd.concat(dataframes, ignore_index=True)

# Display the first few rows
combined_df.head()

,station,borough,trainno,equipmentno,equipmenttype,serving,ADA,isactive,nonNYCT,shortdescription,linesservedbyelevator,elevatorsgtfsstopid,elevatormrn,stationcomplexid,nextadanorth,nextadasouth,redundant,busconnections,alternativeroute,timestamp
0,1 Av,NaN,L,EL293,EL,E 14 St and Avenue A (SW corner) to Canarsie-b...,Y,Y,N,Street to Brooklyn-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a westbound M14...,outages_2025-07-29 06:24:35.375375.csv
1,1 Av,NaN,L,EL292,EL,E 14 St and Avenue A (NW corner) to 8 Av-bound...,Y,Y,N,Street to 8 Av-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a West Side-bou...,outages_2025-07-29 06:24:35.375375.csv
2,125 St,NaN,1,ES103,ES,125 St & Broadway (SE corner) to mezzanine\n,N,Y,N,Street to mezzanine,1,116,306,306,NaN,NaN,0,NaN,NaN,outages_2025-07-29 06:24:35.375375.csv
3,125 St,NaN,1,ES101,ES,mezzanine to 125 St & Broadway (SW corner),N,Y,N,Mezzanine to street,1,116,306,306,NaN,NaN,0,NaN,NaN,outages_2025-07-29 06:24:35.375375.csv
4,125 St,NaN,1,ES102,ES,125 St & Broadway (SW corner) to mezzanine,N,Y,N,Street to mezzanine,1,116,306,306,NaN,NaN,0,NaN,NaN,outages_2025-07-29 06:24:35.375375.csv

In [33]:
combined_df.shape

(61290, 20)

In [38]:
combined_df['timestamp'] = combined_df['timestamp'].str.replace('outages_', '')
combined_df.head(2)

,station,borough,trainno,equipmentno,equipmenttype,serving,ADA,isactive,nonNYCT,shortdescription,linesservedbyelevator,elevatorsgtfsstopid,elevatormrn,stationcomplexid,nextadanorth,nextadasouth,redundant,busconnections,alternativeroute,timestamp
0,1 Av,NaN,L,EL293,EL,E 14 St and Avenue A (SW corner) to Canarsie-b...,Y,Y,N,Street to Brooklyn-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a westbound M14...,2025-07-29 06:24:35.375375.csv
1,1 Av,NaN,L,EL292,EL,E 14 St and Avenue A (NW corner) to 8 Av-bound...,Y,Y,N,Street to 8 Av-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a West Side-bou...,2025-07-29 06:24:35.375375.csv

In [39]:
combined_df['timestamp'] = combined_df['timestamp'].str.replace('.csv', '')
combined_df.head(2)

,station,borough,trainno,equipmentno,equipmenttype,serving,ADA,isactive,nonNYCT,shortdescription,linesservedbyelevator,elevatorsgtfsstopid,elevatormrn,stationcomplexid,nextadanorth,nextadasouth,redundant,busconnections,alternativeroute,timestamp
0,1 Av,NaN,L,EL293,EL,E 14 St and Avenue A (SW corner) to Canarsie-b...,Y,Y,N,Street to Brooklyn-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a westbound M14...,2025-07-29 06:24:35.375375
1,1 Av,NaN,L,EL292,EL,E 14 St and Avenue A (NW corner) to 8 Av-bound...,Y,Y,N,Street to 8 Av-bound platform,L,L06,119,119,"117, L","120, L",0,"M15, M15 SBS, M14A SBS, M14D SBS",If you are on the street: Take a West Side-bou...,2025-07-29 06:24:35.375375

In [42]:
combined_df['timestamp']= pd.to_datetime(combined_df['timestamp'])

In [43]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61290 entries, 0 to 61289
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   station                61290 non-null  object
 1   borough                0 non-null      float64
 2   trainno                61110 non-null  object
 3   equipmentno            61290 non-null  object
 4   equipmenttype          61290 non-null  object
 5   serving                61290 non-null  object
 6   ADA                    61290 non-null  object
 7   isactive               61290 non-null  object
 8   nonNYCT                61290 non-null  object
 9   shortdescription       60750 non-null  object
 10  linesservedbyelevator  61290 non-null  object
 11  elevatorsgtfsstopid    61290 non-null  object
 12  elevatormrn            61290 non-null  object
 13  stationcomplexid       61290 non-null  int64
 14  nextadanorth           29790 non-null  object
 15  nextadasouth           29970 non-null  object
 16  redundant              61290 non-null  int64
 17  busconnections         54270 non-null  object
 18  alternativeroute       36090 non-null  object
 19  timestamp              61290 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(16)
memory usage: 9.4+ MB

In [44]:
#just making sure i only have elevators and not escalators
combined_df['equipmenttype'].value_counts()

equipmenttype
EL    36270
ES    25020
Name: count, dtype: int64

In [48]:
#ahh, I do have escalators, so let's get rid of those
el_df = combined_df[combined_df['equipmenttype'] == 'EL']
el_df.shape

(36270, 20)

In [51]:
el_out = el_df[el_df['isactive']=='N']
el_out.shape

(2520, 20)

In [53]:
el_out['equipmentno'].value_counts()

equipmentno
EL144    90
EL223    90
EL229    90
EL428    90
EL429    90
EL430    90
EL186    90
EL187    90
EL188    90
EL370    90
EL371    90
EL372    90
EL702    90
EL324    90
EL304    90
EL305    90
EL224    90
EL420    90
EL423    90
EL225    90
EL226    90
EL131    90
EL132    90
EL133    90
EL134    90
EL135    90
EL220    90
EL333    90
Name: count, dtype: int64

In [68]:
el_df[el_df['equipmentno']=='EL132']['isactive'].value_counts()

isactive
N    90
Name: count, dtype: int64